<h1>Редактировать</h1>

<%= form_for @employee, url: library_employee_path(@library, @employee), local: true do |form| %> 

<%= render 'layouts/form_error', value: @employee %>

 <%= render 'form_elements', form: form %>
 

  <div class="form-group">
     <%= form.collection_select(:library_id, @libraries, :id, :name, {prompt: "Выберите библиотеку"}, {class: "form-control"} ) %>
  </div>
   

<div class="form-group">
    <%= form.submit "Потвердить", class: "btn btn-primary" %>
  </div>
 
 
<% end %>