
<div class="my-4">
	<% if @employees.count >= 1 %>
		<h1>Сотрудники</h1>
	<% else %>
	<div class="alert alert-dark" role="alert">
  		Сотрудников нет
	</div>
<% end %>
	<% if @library %>
		<%= link_to "Добавить", new_library_employee_path(@library) %>
	<% else %>
    <%= link_to "Добавить", new_employee_path %>
  <% end %>
</div>

<form method="get">
  <div class="form-group row">
    <div class="col-4 col-sm-4">
      <select id="select2-search" style="width: 100%;" name="employees[]" multiple="multiple">
        <% if defined?(@library) %>
          <%= options_from_collection_for_select(Employee.where(library: @library), :id, :name) %>
        <% else %>
          <%= options_from_collection_for_select(Employee.all, :id, :name) %>
        <% end %>
      </select>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Искать</button>
    </div>
  </div>
</form>

<script>
    $(document).ready(function() {
        $('#select2-search').select2({
            placeholder: "Сотрудники..."
        });
    });
</script>

<%= render 'main_content' %>
