<div class="my-4">
	<% if @libraries.count >= 1 %>
		<h1>Библиотеки</h1>
	<% else %>
		<div class="alert alert-dark" role="alert">
  			Библиотек нет
		</div>
	<% end %>
	<%= link_to 'Добавить', new_library_path %>

</div>

  <form method="get">
    <div class="form-group row">
      <div class="col-4 col-sm-4">
        <select  id="select2-search" style="width: 100%;" name="libraries[]" multiple="multiple">
          <%= options_from_collection_for_select(Library.all, :id, :name) %>
        </select>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Искать</button>
      </div>
    </div>
  </form>

<% @libraries.each do |library| %>
	<div class="card mb-4">
		<div class="card-body">
			<h4 class="card-title"><%= library.name %></h4>
			<p class="card-text"><%= library.description %></p>
			<%= link_to 'Книги', library_books_path(library), :class => "card-link" %>
			<%= link_to 'Сотрудники', library_employees_path(library), :class => "card-link" %>
			<%= link_to "Абоненты", library_subscribers_path(library), :class => "card-link" %>
		</div>
		<div class="card-footer text-muted">
			<%= library.address %> <% if library.number%> №<% end %> <%= library.number %>
			<span style="float: right;">
				<%= link_to 'Редактировать', edit_library_path(library), :class => "card-link" %>
				<%= link_to 'Удалить', library_path(library), :class => "card-link text-danger",
                    method: :delete, data: { confirm: "Are you sure to delte?" } %>
			</span>
			
		</div>
	</div>
<% end %>

<script>
    $(document).ready(function() {
        $('#select2-search').select2({
            placeholder: "Библиотеки..."
        });
    });
</script>

