<div class="my-4">
	<h1>Библиотеки</h1>
	<%= link_to 'Добавить', new_library_path %>
</div>


<% @libraries.each do |library| %>
	<div class="card mb-4">
		<div class="card-body">
			<h4 class="card-title"><%= library.name %></h4>
			<p class="card-text"><%= library.description %></p>
			<%= link_to 'Книги', library_books_path(library), :class => "card-link" %>
			<%= link_to 'Сотрудники', library_employees_path(library), :class => "card-link" %>
			<%= link_to "Абоненты", library_subscribers_path(library), :class => "card-link" %>
		</div>
		<div class="card-footer text-muted">
			<%= library.address %> <% if library.number%> #<% end %> <%= library.number %> 
			<span style="float: right;">
				<%= link_to 'Редактировать', edit_library_path(library), :class => "card-link" %>
				<%= link_to 'Удалить', library_path(library), :class => "card-link text-danger", method: :delete, data: { confirm: "Are you sure to delte?" } %>
			</span>
			
		</div>
	</div>
<% end %>

