  <div class="form-group">
    <%= form.label :name, "Название" %><br>
    <%= form.text_field :name, :class => "form-control" %>
  </div>
 

  <div class="form-group">
    <%= form.label :cipher, "Код" %><br>
    <%= form.text_field :cipher, :class => "form-control" %>
  </div>

<div class="form-group">
    <%= form.label :publisher, "Издательство" %><br>
    <%= form.text_field :publisher, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :author, "Автор" %><br>
    <%= form.text_field :author, :class => "form-control" %>
  </div>

<div class="form-group">
    <%= form.label :published_date, "Год издания" %><br>
    <%= form.date_field :published_date, class: "form-control", max: Date.today %>
  </div>

  <div class="form-group">
    <%= form.label :release_date, "Дата поступления" %><br>
    <%= form.date_field :release_date, class: "form-control", max: Date.today %>
  </div>

   <div class="form-group">
    <%= form.label :price, "Цена"%><br>
    <%= form.number_field :price, :class => "form-control", :step => 0.01 %>
  </div>

  <div class="form-group">
    <%= form.submit "Потвердить", :class => "btn btn-primary" %>
  </div>