<% @books.each do |book| %>
	<div class="card mb-4">
		<div class="card-body">
			<h3 class="card-title"><%= book.name %></h3>
			<p> <span class="text-muted">№ <%= book.cipher %><% if book.author.present? %>, <%= book.author %>
			<% end %>
			<% if book.publisher.present? %>
				, <%= book.publisher %>
			<% end %>
			</span>
			 </p>
			<% if book.published_date.present? %>
				<p class="card-text">Дата издания: <span class="text-muted"><%= book.formatted_published_date %></span>
					<% if book.release_date.present? %>, 
						Дата поступления: <span class="text-muted"> <%= book.formatted_release_date %></span>
					<% end %>
				</p>
			<% end %>
			<% if book.price.present? %>
				<p class="card-text">Цена: <span class="text-muted"><%= book.price_to_comma %></span> </p>
			<% end %>
			
		</div>
		<div class="card-footer">
			<span>
				<%= link_to 'Редактировать', edit_library_book_path(book.library, book), :class => "card-link" %>
			</span>
			<span style="float: right">
				<%= link_to 'Выдачи', library_book_grants_path(book.library, book), :class => "card-link" %>
				<%= link_to 'Удалить',library_book_path(book.library, book), :class => "card-link text-danger",
				 method: :delete, data: { confirm: "Are you sure to delete?" } %>
			</span>
		</div>
	</div>
<% end %>
