<div class="form-group">
    <%= form.label :date, "Дата выдачи" %><br>
    <%= form.date_field :date, class: "form-control", max: Date.today %>
  </div>
 
<div class="form-group">
    <%= form.label :date_of_return, "Дата возврата" %><br>
    <%= form.date_field :date_of_return, class: "form-control", min: Date.today %>
  </div>

 <% if @books %>
  <div class="form-group">
   <%= form.collection_select(:book_id, @books, :id, :name, {prompt: "Выберите книгу"}, {class: "form-control"} ) %>
  </div>
 <% end %>

<% if @subscribers %>
 <div class="form-group">
  <%= form.collection_select(:subscriber_id, @subscribers, :id, :name, {prompt: "Выберите абонента"}, {class: "form-control"} )%>
  </div>
<% end %>

  <div class="form-group">
    <%= form.submit "Потвердить", class: "btn btn-primary" %>
  </div>