<% @subscribers.each do |subscriber| %>
	<div class="card mb-4">
		<div class="card-body">
			<h4 class="card-title"><%= subscriber.surname %> <%= subscriber.name %>
			 <%= subscriber.patronymic %> <span class="text-muted">№ <%= subscriber.number %></span> </h4>
			<p class="card-text">Адрес: <span class="text-muted"><%= subscriber.address %></span></p>
			<p class="card-text">Номер телефона: <span class="text-muted"><%= subscriber.phone %></span></p>
		</div>
		<div class="card-footer">
			<span>
				<%= link_to "Редактировать", edit_library_subscriber_path(subscriber.library, subscriber), :class => "card-link" %>
			</span>
			<span style="float: right">
				<%= link_to "Выдачи", library_subscriber_grants_path(subscriber.library, subscriber), :class => "card-link" %>
				<%= link_to "Удалить", library_subscriber_path(subscriber.library, subscriber), :class => "card-link text-danger",
				method: "delete", data: { confirm: "Are you sure to delete?" } %>		
			</span>
		</div>
	</div>
<% end %>