


<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Шифр</th>
      <th>Библиотека</th>
      <th>Издательство</th>
      <th>Дата издания</th>
      <th>Дата поступления</th>
    </tr>
  </thead>
  <tbody>
	<% books.each_with_index do |book, index| %>
		<tr>
			<th scope="row"><%= index + 1 %></th>
			<td><%= book.name %></td>
			<td><%= book.author %></td>
			<td><%= book.cipher %></td>
			<td><%= book.library.name %></td>
			<td><%= book.publisher %></td>
			<td><%= book.published_date %></td>
			<td><%= book.release_date %></td>
		</tr>
		<% end %>
  </tbody>
</table>