<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Шифр</th>
      <th>Библиотека</th>
      <th>Издательство</th>
      <th>Дата издания</th>
      <th>Дата поступления</th>
      <th>Дата выдачи</th>
      <th>Абонент</th>
    </tr>
  </thead>
  <tbody>
	<% books.each_with_index do |book, index| %>
		<tr>
			<th scope="row"><%= index + 1 %></th>
			<td><%= book.name %></td>
			<td><%= book.author %></td>
			<td><%= book.cipher %></td>
			<td><%= Library.find(book.library_id).name %></td>
			<td><%= book.publisher %></td>
			<td><%= book.published_date %></td>
			<td><%= book.release_date %></td>
      <td><%= book.grants_date.to_date %></td>
      <td><%= book.subscribers_surname %> <%= book.subcribers_name %></td>
		</tr>
		<% end %>
  </tbody>
</table>