
<div class="my-4">
	<h3>Составить отчет книг, которые были задейстованы в раздачи</h3>
</div>


<div>
	<%= form_tag("/reports", method: "get") do %>
		<div class="form-group row">
			<label for="date_start_on" class="col-sm-1 col-form-label">Начало</label>
			<div class="col-sm-3">
				<%= date_field("date", "start_on", max: Date.today, class: "form-control", value: @start_on) %>
			</div>
			<label for="date_end_on" class="col-sm-1 col-form-label">Конец</label>
			<div class="col-sm-3">
				<%= date_field("date", "end_on", max: Date.today, class: "form-control", value: @end_on) %>
			</div>
			<label for="date_end_on" class="col-sm-1 col-form-label">Сорт</label>
			<div class="col-sm-2"> 
				<select class="form-control"  name="sort[sort_on]">
					<%= options_for_select([['По дате создания (убыв)', "created_at_desc"], 
											['По дате создания (возр)', "created_at"],
											['По имени', 'name']], @sort_on) %>
				</select>
			</div>
			<div class="col-sm-1">
				<input type="submit" name="commit" value="Потвердить" class="btn btn-primary">
			</div>
		</div>
	<% end %>
</div>

<div id="content">

	<% if defined?(@error_message) %>
		<div class="alert alert-danger" role="alert">
  			<%= @error_message %>
		</div>
	<% end %>

	<% if defined?(@books) %>
		<%= render 'books', books: @books %>
	<% end %>
	
</div>

<script type="text/javascript">
	

/*$('form').submit(function (e) {
    e.preventDefault();
    var optionValue = $("#models option:selected").val();
    var actionValue = $("#do option:selected").val();
    $.ajax({
        url: '/reports/ajax',
        type: 'GET',
        data: {model: optionValue, do: actionValue},
        success: function (data) {
            $('#content').html(data);
        },
        error: function(data) {
        	console.log(data);
        }
    });
});*/


</script>
